<h1>Passenger#confirmation_email</h1>

<h2>Hello <%= @passenger.name %></h2>
<p>Your booked has been comfirmed <%= @passenger.booking_id %></p>
<p>Check here <%= link_to @booking, "Booking details" %></p>
